*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.header{
    background: rgba(255, 144, 14, 0.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 11.4em;
    padding-right: 12em;
}

.navbar p{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    
}

.nav-item{
    margin-right: 4em;
}

.header-title{
    margin-top: 102px;
    color: #131313;
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;

}


.header-description{
    width: 868px;
    height: 52px;
    margin-top: 40px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-break: 5px;
    line-height: 26px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 32px;
}

.banner{
    margin-top: 50px;
    margin-bottom: 45px;
    width: 1440px;
    height: 700px;
    border-radius: 8px;
}

.section-1{
    display: flex;
    justify-content: center;
    gap: 73px;
    margin-top: 85px;
}

.image-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.quick{
    height: 342px;
    width: 342px;
}

.text{
    height: 304px;
    width: 504px;
    align-items: center;
    margin-top: 180px;
}

.text-title{
    color: #727272;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 24px;
}

.our{
    color: #131313;
}

.features{
    color: #FF900E;
}

.text-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.section-2{
    display: flex;
    justify-content: center;
    gap: 146px;
    margin: 130px 240px;
}

.articles{
    height: 982px;
    width: 586px;
}

.article-title{
    color: #131313;
    font-weight: 800;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.article-description{
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.blogs{
    margin-left: 30px;
    width: 586px;
    height: 150px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-bottom: 20px;
}

.blog-title{
    width: 252px;
    height: 23px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 30px;

}

.blog-description{
    width: 514px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-left: 30px;
}
 
.women{
    height: 982px;
    width: 708px;
}

.experience{
    position: absolute;
    width: 342px;
    height: 200px;
    left: 870px;
    top: 3135px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 55px;
    align-items: center;
    padding-top: 37px;
}

.small{
    font-weight: 500;
    font-size: 30px;
    line-height: 26px;
    color: white;
}

.fact{
    margin-left: 240px;
}

.fact-title{
    width: 258px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.fact-description{
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.box{
    display: flex;
    justify-content: space-around;
    margin-left: 220px;
    margin-right: 190px;
    margin-top: 100px;
}

.boxs{
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box-title{
    width: 102px;
    height: 53px;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
    padding: 7px 0px;
}

.box-description{
    /* width: 150px;
    height: 23px; */
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

#pro{
    padding-left: 28px;
}

.sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.sponsor-title{
    width: 327px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor-description{
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;
}

.sponsor-logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.sponsor-img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.footer{
    width: 1440px;
    Height: 100px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 216px;
    margin-top: 169px;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-description{
    padding: 38px 410px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
}